@import './variables.scss';

.header {
    background-image: url('../images/Ellipse.png');
    background-size: 100% 80%;
    background-position: center top;
    background-repeat: no-repeat;
    // width: 100vw;
    height: 60vh;
    position: relative;
    font-family: $font-titles;

    &__logo {
        margin-top: 20px;
        margin-left: 20px;
        height: 53%;
    }

    &__tagline {
        left: 35%;
        position: absolute;
        font-size: 2em;
        color: $dark-gray;

        &--side {
            display: inline;
            position: absolute;
            left: 92%;
            top: 52%;
            font-size: 4em;
            color: $light-gray;
        }
    }

}

@media (min-width: 600px) {
    .header {
        height: 75vh;
        background-size: 100% 95%;
        position: relative;

        &__logo {
            height: 73%;
        }

        &__tagline {
            margin: 0;
            position: absolute;
            top: 65%;
            left: 72%;
            display: inline-block;
            width: 280px;
            font-size: 3em;

            &--side {
                top:43%;
                left: 93%;
                font-size: 7em;
            }
        }
    }
}