@import './variables.scss';

body {
    margin: 0;
    background-color: #FDFEFF;
}

.intro {
    font-family: $font-cards;
    color: #464545;
}

.founders__container p {
    font-family: $font-cards;
    color: #464545;
  }

