<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="module" src="/assets/js/meetupAPI.js"></script>
  </head>
  <body>
    <header class="header">
      <img src="/assets/images/tg_logo 2.png" alt="Logo Test Girls" class="header__logo">
      <h2 class="header__tagline">Qualidade & automação</h2>
      <h2 class="header__tagline--side">}</h2>
    </header>

    <section class="intro">
      <div class="intro__description">
        <p>
          Uma rede de mulheres que trabalham com qualidade de testes de software. Nosso objetivo é apoiar umas às outras e possibilitar oportunidade de conhecimento e evolução.
        </p>
      </div>
      <img src="assets/images/foto-comunidade.jpg" alt="Grupo de mulheres em um dos encontros das Test Girls.">
    </section>

    
    <section class="upcoming-events section-body">
      <h3 class="upcoming-events__title section-tittle">Próximos eventos</h3>
      <div class="upcoming-events__container"></div>
    </section>
    {{ content }}
  </body>
</html>